<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Vue 3 js CDN -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<!-- Axios CDN -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- Tailwind CSS CDN -->
	<script src="https://cdn.tailwindcss.com"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title> Smart Cook Book </title>
</head>

<body class="bg-cyan-600 text-white">
	<!-- vue app div -->
	<div id="app" class="container mx-auto my-4">
		<!-- app description -->
		<div class="text-center">
			<h1 class="font-bold text-2xl"> Smart Cook Book </h1>
			<p v-bind:class="captionText"> Manage your favorite recipes and create new ones with just a few clicks! </p>
		</div>

		<!-- choose recipe category -->
		<div class="flex flex-row text-center">
			<!-- recipe categories dropdown -->
			<div class="basis-1/3">
				<label v-bind:class="[captionText, 'block']" for="recipecategories"> Find recipe category: </label>
				<select 
					name="recipecategories" 
					id="recipecategories" 
					v-model="selectedRecipeCategory" 
					v-bind:disabled="editMode || createMode"
					v-bind:class="dropDown"
				>
					<!-- prompt - default not selectable option -->
					<option v-bind:value="null" disabled selected>
						Select your option
					</option>
					<!-- recipe categories from api -->
					<option v-bind:value="recipeCategory" v-for="recipeCategory in recipeCategories">
						{{ recipeCategory.hasOwnProperty('name') ? recipeCategory.name : recipeCategory }}
					</option>
				</select>
			</div>
			<!-- recipe category details -->
			<div class="basis-2/3 py-5" v-if="selectedRecipeCategory != null && selectedRecipeCategory.hasOwnProperty('description')">
				{{ selectedRecipeCategory.description }}
			</div>
		</div>

		<!-- move on to next steps if recipe category selected -->
		<div v-if="selectedRecipeCategory != null">
			<!-- choose recipe -->
			<div class="text-center" v-show="(!createMode) && (!editMode)">
				<!-- create new recipe button -->
				<button 
					type="button" 
					v-on:click="startCreateMode" 
					v-bind:disabled="editMode || createMode"
					v-bind:class="[btnRounded, btnGreen, btnDisabled, 'my-2']"
				> 
					Create new
				</button>
				<!-- recipes dropdown -->
				<label v-bind:class="captionText" for="recipes"> or find recipe: </label>
				<select 
					name="recipes" 
					id="recipes" 
					v-model="selectedRecipe" 
					v-bind:disabled="editMode"
					v-bind:class="dropDown"
				>
					<!-- prompt - default not selectable option -->
					<option v-bind:value="null" disabled selected>
						Select your option
					</option>
					<!-- recipes from api -->
					<option v-bind:value="recipe" v-for="recipe in recipes">
						{{ recipe.hasOwnProperty('name') ? recipe.name : recipe }}
					</option>
				</select>
			</div>
			<!-- notify about current mode -->
			<span class="text-center block font-bold text-xl text-yellow-500" v-if="createMode || editMode">
				{{ createMode ? 'You are creating a new recipe' : `You are editing the recipe: "${selectedRecipe.name}"` }}
			</span>
			
			<!-- new recipe name -->
			<div v-if="editMode || createMode">
				<label for="recipetime" v-bind:class="captionText"> 
					Recipe name: 
				</label> 
				<input 
					type="text" 
					name="recipename" 
					id="recipename" 
					v-model="newRecipeName"
					v-bind:class="dropDown"
				>
			</div>

			<!-- recipe details -->
			<div v-if="selectedRecipe != null">
				<!-- preparation time -->
				<div v-if="selectedRecipe.hasOwnProperty('time_minutes')">
					<label for="recipetime" v-bind:class="captionText"> 
						Time (minutes): 
					</label>
					<span v-if="(!editMode) && (!createMode)"> 
						{{ selectedRecipe.time_minutes }} 
					</span>
					<input 
						v-else
						type="number" 
						min="0" 
						step="1" 
						name="recipetime" 
						id="recipetime" 
						v-on:keypress="blockNonIntegerKeys"
						v-model="newRecipeTime"
						v-bind:class="dropDown"
					>
				</div>

				<!-- ingredients list and shopping list-->
				<div 
					v-if="selectedRecipe.hasOwnProperty('recipe_ingredients')" 
					class="flex flex-row"
				>
					<div class="basis-1/2 py-3 px-4">
						<h4 v-bind:class="captionText"> Ingredients: </h4>
						<ul v-bind:class="unorderedList">
							<!-- single ingredient -->
							<li 
								v-for="ingredient in selectedRecipe.recipe_ingredients" 
								v-show="ingredient.hasOwnProperty('food_item')"
							>
								<!-- delete ingredient button -->
								<button 
									type="button" 
									v-show="editMode || createMode" 
									v-on:click="deleteRecipeIngredient(ingredient.food_item)"
									v-bind:class="[btnRounded, btnRose, btnDisabled]"
								> 
									Delete ingredient 
								</button>
								<!-- ingredient information -->
								{{ 
									`
									${ingredient.hasOwnProperty('amount') ? ingredient.amount : ""}  
									${ingredient.hasOwnProperty('unit') ? ingredient.unit : ""}
									${ingredient.hasOwnProperty('food_item') ? ingredient.food_item : ""}
									` 
								}}
							</li>
							<!-- optional ingredient to create -->
							<li v-if="editMode || createMode" class="marker:text-white/50">
								<!-- add ingredient button -->
								<button 
									type="button" 
									v-bind:disabled="!isIngredientToAddReady" 
									v-on:click="addRecipeIngredient"
									v-bind:class="[btnRounded, btnGreen, btnDisabled, 'my-2']"
								> 
									Add new ingredient 
								</button>
								<!-- provide amount -->
								<input
									v-on:keypress="blockNonNumericKeys"
									type="number" 
									min="0" 
									step="0.01" 
									name="amount" 
									id="amount" 
									v-model="amount"
									placeholder="Enter amount"
									v-bind:class="dropDown"
								>
								<!-- choose food category -->
								<select 
									name="foodcategories" 
									id="foodcategories" 
									v-model="selectedFoodCategory"
									v-bind:class="dropDown"
								>
									<!-- prompt - default not selectable option -->
									<option v-bind:value="null" disabled selected>
										Select food category
									</option>
									<!-- food categories -->
									<option v-bind:value="foodCategory" v-for="foodCategory in foodCategories">
										{{ foodCategory.hasOwnProperty('name') ? foodCategory.name : foodCategory }}
									</option>
								</select>
								<!-- choose food item -->
								<select 
									name="fooditems" 
									id="fooditems" 
									v-if="selectedFoodCategory != null" 
									v-model="selectedFoodItem"
									v-bind:class="dropDown"
								>
									<!-- prompt - default not selectable option -->
									<option v-bind:value="null" disabled selected>
										Select food item
									</option>
									<!-- food items from api -->
									<option v-bind:value="foodItem" v-for="foodItem in foodItems">
										{{ foodItem.hasOwnProperty('name') ? foodItem.name : foodItem }}
									</option>
								</select>
								<!-- choose unit -->	
								<select 
									name="units" 
									id="units" 
									v-model="selectedUnit"
									v-bind:class="dropDown"
								>
									<!-- prompt - default not selectable option -->
									<option v-bind:value="null" disabled selected>
										Select unit
									</option>
									<!-- units from api -->
									<option v-bind:value="unit" v-for="unit in units">
										{{ unit.hasOwnProperty('name') ? unit.name : unit }}
									</option>
								</select>			
							</li>
						</ul>
					</div>
					<!-- ingredients shopping list -->
					<div class="basis-1/2 py-3 px-4" v-show="(!editMode) && (!createMode)">
						<h4 v-bind:class="captionText"> Shopping list: </h4>
						<!-- mark found ingredients -->
						<div>
							<!-- list of food categories groups and recipe ingredients -->
							<ul class="list-none">
								<!-- single food category -->
								<li v-for="foodCategory in shoppingListCategories"> 
									<!-- food category name -->
									<span class="font-bold">
										{{ `${foodCategory.hasOwnProperty('food_category') ? foodCategory.food_category : ""}` + ":" }}
									</span>
									<!-- list of recipe ingredients in food category -->
									<ul v-if="foodCategory.hasOwnProperty('recipe_ingredients')" class="list-none">
										<!-- single recipe ingredient -->
										<li v-for="ingredient in foodCategory.recipe_ingredients"
											v-bind:style="{'text-decoration' : ingredient.Found ? 'line-through' : 'none'}" 
										> 
											</button>
											<input 
												type="checkbox"
												v-model="ingredient.Found" 
												v-bind:class="checkBox"
											>
											<!-- recipe ingredient information -->
											{{ 
												`
												${ingredient.hasOwnProperty('amount') ? ingredient.amount : ""}  
												${ingredient.hasOwnProperty('unit') ? ingredient.unit : ""}
												${ingredient.hasOwnProperty('food_item') ? ingredient.food_item : ""}
												` 
											}}
										</li>	
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- steps list -->
				<div v-if="selectedRecipe.hasOwnProperty('recipe_steps')">
					<h4 v-bind:class="captionText"> Steps: </h4>
					<ol v-bind:class="orderedList">
						<!-- single step -->
						<li v-for="step in selectedRecipe.recipe_steps">
							<!-- delete step button --> 
							<button 
								type="button" 
								v-show="editMode || createMode" 
								v-on:click="deleteRecipeStep(step.number)"
								v-bind:class="[btnRounded, btnRose, btnDisabled]"
							> 
								Delete step 
							</button>
							<!-- step information -->
							{{ step.description }}
						</li>
						<!-- optional step to create -->
						<li v-if="editMode || createMode" class="marker:text-white/50">
							<!-- add step button -->
							<button 
								type="button" 
								v-bind:disabled="!recipeStepDescription" 
								v-on:click="addRecipeStep"
								v-bind:class="[btnRounded, btnGreen, btnDisabled, 'my-2']"
							> 
								Add new step
							</button>
							<!-- provide step description -->
							<input 
								type="text" 
								name="recipestepdescription" 
								id="recipestepdescription" 
								v-model="recipeStepDescription"
								placeholder="Enter description"
								v-bind:class="dropDown"
							>
						</li>
					</ol>
				</div>
			</div>

			<!-- buttons -->
			<div v-if="selectedRecipe != null">
				<!-- buttons to start edit/delete mode -->
				<div v-show="(!editMode) && (!createMode)">
					<button 
						type="button" 
						v-on:click="startEditMode" 
						v-bind:class="[btnRounded, btnBlue, btnDisabled]"
					> 
						Edit Recipe 
					</button>
					<button 
						type="button" 
						v-on:click="deleteRecipe(selectedRecipe.name)" 
						v-bind:class="[btnRounded, btnRose, btnDisabled]"
					> 
						Delete recipe 
					</button>
				</div>

				<!-- buttons to end edit mode -->
				<div v-show="editMode"> 
					<button 
						type="button" 
						v-on:click="editRecipe" 
						v-show="isRecipeEdited"
						v-bind:class="[btnRounded, btnGreen, btnDisabled]"
					> 
						Save changes 
					</button>
					<button 
						type="button" 
						v-on:click="cancelEditMode"
						v-bind:class="[btnRounded, btnRose, btnDisabled]"
					> 
						Cancel changes 
					</button>
				</div>

				<!-- buttons to start/end create mode -->
				<div v-show="createMode"> 
					<button 
						type="button" 
						v-on:click="createRecipe" 
						v-show="isRecipeToAddReady"
						v-bind:class="[btnRounded, btnGreen, btnDisabled]"
					> 
						Save recipe 
					</button>
					<button 
						type="button" 
						v-on:click="cancelCreateMode"
						v-bind:class="[btnRounded, btnRose, btnDisabled]"
					> 
						Cancel recipe 
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- include javascript file with vue code -->
	<script src="app.js"></script>
</body>
</html>